<h1>Reactive Flight Search!</h1>

<div class="row card">
  <form [formGroup]="filter">
  <div class="control-group">
    <label>From:</label>
    <input class="form-control" formControlName="from">

    <div *ngIf="!filter.controls.from.valid">
      ... Fehler in From ...
      <!--
      <pre>{{filter.controls.from.errors | json}}</pre>
      -->
    </div>
    <div *ngIf="filter.controls.from.hasError('required')">
      ... Required ...
    </div>
    <div *ngIf="filter.controls.from.hasError('minlength')">
      ... MinLength ...
    </div>
    <div *ngIf="filter.controls.from.hasError('city')">
      ... MinLength ...
    </div>

  </div>

  <div class="control-group">
    <label>To:</label>
    <input formControlName="to" class="form-control">
  </div>

  <div class="control-group">
    <button (click)="search()" class="btn btn-default">Search</button>
  </div>
  </form>
</div>

<div class="row">
<div *ngFor="let f of flights" class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <flight-card
    [(selected)]="basket[filter.id]"
    [item]="f">
  </flight-card>
</div>
</div>
<!--
(selectedChange)="basket[filter.id] = $event"
-->
<!--
<div *ngIf="flights.length > 0" class="card">
  <table class="table table-contensed">
    <tr *ngFor="let f of flights" [ngClass]="{ 'active': f === selectedFlight }">
      <td>{{filter.id}}</td>
      <td>{{filter.from | city:'short' }}</td>
      <td>{{filter.to | city:'long' }}</td>
      <td>{{filter.date | date:'dd.MM.yyyy HH:mm'}}</td>
      <td><a (click)="select(f)">Select</a></td>
    </tr>
  </table>
</div>
-->

<div class="row card">
  <pre>{{ basket | json }}</pre>
</div>
