<h1>Flight Search!</h1>

<div class="row card">
  <form #f="ngForm">
  <div class="control-group">
    <label>From:</label>
    <input
      name="from"
      [(ngModel)]="from"
      class="form-control"
      required
      city="Graz,Hamburg,Zürich,Frankfurt,Berlin,Bern,Wien,München"
      minlength="3">

    <div *ngIf="!f?.controls?.from?.valid">
      ... Fehler in From ...
      <pre>{{f?.controls?.from?.errors | json}}</pre>
    </div>
    <div *ngIf="f?.controls?.from?.hasError('required')">
      ... Required ...
    </div>
    <div *ngIf="f?.controls?.from?.hasError('minlength')">
      ... MinLength ...
    </div>
    <div *ngIf="f?.controls?.from?.hasError('city')">
      ... MinLength ...
    </div>

  </div>

  <div class="control-group">
    <label>To:</label>
    <input
      [(ngModel)]="to"
      class="form-control"
      name="to">
  </div>

  <div class="control-group">
    <button (click)="search()" class="btn btn-default">Search</button>
  </div>
  </form>
</div>

<div class="row">
<div *ngFor="let f of flights" class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <flight-card
    [(selected)]="basket[f.id]"
    [item]="f">
  </flight-card>
</div>
</div>
<!--
(selectedChange)="basket[f.id] = $event"
-->
<!--
<div *ngIf="flights.length > 0" class="card">
  <table class="table table-contensed">
    <tr *ngFor="let f of flights" [ngClass]="{ 'active': f === selectedFlight }">
      <td>{{f.id}}</td>
      <td>{{f.from | city:'short' }}</td>
      <td>{{f.to | city:'long' }}</td>
      <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
      <td><a (click)="select(f)">Select</a></td>
    </tr>
  </table>
</div>
-->

<div class="row card">
  <pre>{{ basket | json }}</pre>
</div>
